#cpu-processor-dropdown {
    width: 50%;
  }
  .parent-div{
    width:100vw;
    overflow: auto;
    height:100vh;
    background-color:#192444;
    
  }
  body{
    margin:0;
    overflow:auto;
  }
  @font-face{
    font-family: 'FreeSerif'; 
    src: url('../assets/fonts/Playpen_Sans/PlaypenSans-VariableFont_wght.ttf');
  }

  /* styles.css */
.dropdown-style {
    width: 195%;
    margin: 10px;
    padding: 0px;
    margin-left: 20px;;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    font-family:"FreeSerif";
    color:#1F2C56;
    background-color: #1F2C56;
}
.dropdown-style .Select-control {
  background-color:#1F2C56;
  border:#192444;

}
.dropdown-style .Select-value {
  color:white; 
}

  .container{
    display:flex;
    justify-content:space-evenly ;
  }
  .bargraph-container {
    flex:1;
    margin-left: 20px;
    width: 50%; 
    justify-content: space-between;
    border-radius: 10px;
    padding:20px;
    background-color: #1F2C56;
  }
  
  .piechart-container {
    flex:1;
    margin-left: 10px;
    width: auto; 
    border-radius: 10px;
    padding: 20px;
    background-color: #1F2C56;
  }
  .scatterplot-container {
    flex:1;
    margin-left: 10px;
    margin-right: 20px;
    width: 100%; 
    border-radius: 10px;
    padding: 20px;
    background-color: #1F2C56;
  }
  .linechart-container {
    flex:1;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 315px;
    margin-bottom:10px;
    border-radius: 10px;
    width:100%;
    padding: 10px;
    background-color: #1F2C56;
  }
  .barchart-container {
    flex:1;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 200px;
    margin-bottom:10px;
    border-radius: 10px;
    width:100%;
    padding: 10px;
    background-color: #1F2C56;
  }
  .line-gpu-container{
    display: flex;
    justify-content: space-evenly;

  }

  .box-shadow-container {
    background-color: rgba(31, 44, 86, 0.8);
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    overflow: hidden; 
    transition: box-shadow 0.3s ease;
    color:black;
    box-shadow: 0px 0px 10px rgba(0, 158, 243, 0.441);
    &:hover {
        box-shadow: 0px 0px 20px rgba(238, 4, 4, 0.358);
    }

    cursor: pointer; 
}
.kpi-card
{
  overflow: hidden;
  position: relative;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.75);;
  display: inline-block;
  padding: 1em;
  border-radius: 0.3em;
  font-family: sans-serif;  
  width: 240px;
  height:100px;
  min-width: 180px;
  margin-left: 0.5em;
  margin-top: 0.5em;
  background: #495057;
  color: #efefef;
}

.icon-i {  
  float: right;
  font-size:500%;
  position: absolute;
  top:2rem;
  margin-right: 10px;
  right:-0.3rem;
  opacity: .16;
}

.card-value {
  font-size: 150%;  
  font-weight: bolder;
}

.card-text {
  font-size: 100%;
  padding-left: 0.2em;
  padding-bottom:60px;
  margin-right:1rem;
 }
  .cont-child{
    display:flex;
    width:1200px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .modebar{
    display: none;
  }
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
    .bargraph-container,
    .piechart-container,
    .scatterplot-container,
    .linechart-container {
      width: 100%; 
      margin: 10px 0; 
    }
    .kpi-card {
      width: 100%; 
      margin: 10px 0; 
    }
  }

